.app-bar
	padding-left: 120px
	padding-right: 120px
	display: flex
	align-items: center
	justify-content: space-between
	a
		margin: 5px

.app-bar_logo
	width: 100px

.app-bar_settings-logo
	width: 25px
	height: 25px

.app-bar_left-container
	display: flex
	align-items: center

.right-menu
	display: flex
	align-items: center
