@import 'src/sass/responsiveBreakpoints'
.app-bar
	display: flex
	align-items: center
	>header
		display: flex
		justify-content: space-between
		padding: 0 20px
		flex-grow: 1
		align-items: center
		@media (min-width: $md)
			flex-grow: 0
		
	a
		margin-right: 15px
		color: #000000
		text-decoration: none
		overflow-wrap: anywhere

	&__menu-container
		display: flex
		align-items: begin
		@media (min-width: $md)
			flex-direction: row
			justify-content: space-between
			align-items: center
			flex-grow: 1

$menuImageUrl: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")

.menu-button
	border: 1px solid rgba(0, 0, 0, 0.5) !important
	outline: none !important
	appearance: none
	padding: 0
	margin: 0
	box-sizing: border-box
	padding: 5px 7px
	border-radius: 3px
.menu-button-img
	background: $menuImageUrl
	display: block
	height: 1.5rem
	width: 1.5rem


.app-bar_logo
	width: 60px
	margin-right: 30px

.app-bar_settings-logo
	width: 25px
	height: 25px

.app-bar_left-container
	display: flex
	align-items: center

.right-menu
	display: flex
	align-items: center

