.chart
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    margin-top: 30px
    
.chart__title
    font-size: 36px
    font-weight: 500

.circle
    width: 13px
    height: 13px
    background: #000000

.custom-dot-text
    font-size: 14px
.custom-dot-text-sbor
    font-size: 28px

.recharts-cartesian-grid-horizontal
    display: none

.custom-tooltip
    border-radius: 10px
    background-color: #acacac
    padding: 10px
