=progress-bar-body__filler($backgroundColor)
    position: absolute
    z-index: 999
    margin: auto auto 0 0
    width: 10%
    height: 56px
    height: 32px
    background-color: $backgroundColor
    border-radius: 10px 0 0 10px

.progress-bar-body
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

.progress-bar-body__title
    font-size: 36px
    font-weight: 500
    margin-top: 150px
    margin-bottom: 0

.progress-bar-body__title-container
    width: 1140px
    display: flex
    justify-content: space-between

.progress-bar-body__title-item-left
    text-align: left

.progress-bar-body__title-item-right
    text-align: right

.progress-bar-body__title-price
    font-size: 24px
    font-weight: bold
    margin: 0
.progress-bar-body__container
    position: relative
    width: 1140px
    height: 32px

.progress-bar-body__base
    width: 100%
    position: absolute
    z-index: 99
    height: 32px
    background: #e0e0e0
    border-radius: 10px

.progress-bar-body__filler-volume
    +progress-bar-body__filler(#3B3B3B)

.progress-bar-body__filler-price
    +progress-bar-body__filler(#479D6F)

.progress-bar-body__filler-capitalization
    +progress-bar-body__filler(#62C260)
