.title
    font-weight: bold
    font-size: 25px

.personal-area
    display: flex
    flex-direction: column
    justify-content: center
    .title
        margin-left: 70px
    .menu
        margin-left: 70px

.personal-area__body
    display: flex
    justify-content: space-around
